extends ./layouts/main.pug

block content
    h1= message
    ul.notes
        li.notes__item
            .notes__item-title title: #{note.note}
            .notes__item-body id: #{note.id}
            .notes__item-controls
                button.notes__item-controls-btn._delete(type="button" onclick=`deleteNote('` + note.id + `')`) delete
                a.notes__item-controls-btn._update(href=`/update/${note.id}`) update

block scripts
    script.
        function deleteNote(id) {

            fetch(`/note/${id}`, {
                method: 'DELETE',
            })
                .then(res => res.text())
                .then(res => console.log(res))
        }