extends ./layouts/main.pug

block content
    h1= message
    ul.notes
        li.notes__item
            .notes__item-title title: #{note.title}
            .notes__item-body title: #{note.note}
            .notes__item-controls
                a.notes__item-controls-btn._delete(href=`/notes` onclick=`deleteNote('` + note._id + `')`) delete
                a.notes__item-controls-btn._update(href=`/update/${note._id}`) update

block scripts
    script.
        function deleteNote(id) {

            fetch(`/note/${id}`, {
                method: 'DELETE',
            })
                .then(res => res.json())
                .then(res => console.log(res))
                .catch(err => console.error(err))
        }